$maxContentWidth: 1366px;
$stdSidePadding: 15px;

.content-wrap {
  width: 100%;
  max-width: $maxContentWidth;
  margin: 0 auto; 
  padding-left: $stdSidePadding;
  padding-right: $stdSidePadding;
  .content-row {
  	  margin-right: -$stdSidePadding;
  			margin-left: -$stdSidePadding;
  }
}

.inbox-header {
  h2 {font-size: 1.1rem;}
  padding: 20px;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-two-col {
		display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



