$maxContentWidth: 600px;
$stdSidePadding: 10px;
$firstColSize: 40px;
$filterColor: #6c5fca;
$subjectColor: #635f5c;

body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.content-wrap {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  max-width: $maxContentWidth;
  margin: 0 auto;
  padding-left: $stdSidePadding;
  padding-right: $stdSidePadding;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    outline: 1px solid slategrey;
  }
}

.inbox-header {
  h2 {
    font-size: 1.1rem;
    display: inline-block;
  }
}

.content-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-col {
  position: relative;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: $stdSidePadding;
}

.content-two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .first-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $firstColSize;
    flex: 0 0 $firstColSize;
    max-width: $firstColSize;
  }
}

.second-col-right {
  display: inline-block;
  position: absolute;
  right: $stdSidePadding;
  background: inherit;
}

.txt-filter {
  color: $filterColor;

  .arrow-down {
    margin-left: 5px;
    display: inline-block;
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    position: relative;
    top: -3px;
    border-style: solid;
    border-color: $filterColor;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: all 150ms ease-in-out;
  }

  &:hover,
  &.hover {
    font-weight: bold;

    .arrow-down {
      border-bottom-width: 2px;
      border-right-width: 2px;
    }
  }
}

.open>.txt-filter {
  .arrow-down {
    transform: rotate(-135deg);
    top: 1px;
    transition: all 150ms ease-in-out;
  }
}

.checkbox-wrap {
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  z-index: 1;

  .checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $subjectColor;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
  }

  &:hover,
  &.hover-tick,
  &.selected {
    .checkbox {
      &:after {
        content: '✔';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $subjectColor;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  &.selected {
    .checkbox {
      background-color: $filterColor;
      border: 5px solid transparent;

      &:after {
        color: #fff;
        font-weight: bold;
        padding-top: 2px;
      }
    }
  }
}

.dropdown {
  cursor: pointer;

  .dropdown-menu {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background: #fff;
    display: none;
    position: absolute;
    top: 100%;
    right: -5px;
    z-index: 1000;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;

    li {
      padding: 5px 10px;

      &:hover {
        background-color: #eee;
        font-weight: bold;
      }
    }
  }

  &.open .dropdown-menu {
    display: block;
  }

}
