$subjectColor: #635f5c;
$primaryColor: #605e53;
$itemHoverColor: #eee;
$unreadTxtColor: #6c5fca;

.email-item {
  color: $primaryColor;
  border-top: 1px solid #ddd;
  
  &.hover, &:hover {
    background-color:$itemHoverColor;
    .showDate {
      background-color:$itemHoverColor;
    }
    .avatar-wrap {display: none;}
    .email-select {display: inline-block;}
  }
}

.email-item-select {
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: middle;  
  &:hover,
  &.hover-tick {
    .email-select {
      position: relative;
      cursor: pointer;
      &:after {
        content: '✔';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $subjectColor;
        font-size: 12px;
        text-align: center;
      }
    }
  }   
}



.email-select {
  display: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid $subjectColor;
  margin-top: 5px
}
.avatar-wrap {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: #ffffff;
  line-height: 1.4;
  padding: 5px;
  text-align: center;
  font-size: 13px;
  overflow: hidden;
  background-color:rgb(122, 117, 116);
}

.avatar-1 {
  background-color: rgb(227, 0, 140);
}
.avatar-2 {
  background-color: rgb(73, 130, 5);
}
.avatar-3 {
  background-color:  rgb(0, 78, 140);
}
.avatar-4 {
  background-color: rgb(117, 11, 28);
}
.avatar-5 {
  background-color: rgb(0, 0, 0);
}
.avatar-6 {
  background-color: rgb(103, 98, 166)
}
.avatar-7 {
  background-color: rgb(0, 120, 212);
}
.from-name {
  color: $subjectColor;
}

.unread {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;    
    background-color: $unreadTxtColor;
    display: block;
    width: 4px;
    height: 100%;    
  }
  .from-name {
    font-weight: bold;
  }
  .email-subject {
    font-weight: bold;
    color: $unreadTxtColor;
  }
}

.showDate {
  background: #fff;
  padding-left: 10px;
  font-size: .9rem;
}

.content-col {
  min-width: 0;
  flex: 1;
   .email-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}