<div class="content-two-col email-item" appHoverClass="hover" [ngClass]="{unread: !email.read_status}" (click)="onClickEmailItem()">
  <div class="content-col first-col">
    <div class="avatar-wrap" [ngClass]="setBgcolor()">
      <div class="img-wrap"><img *ngIf="email.from.avatar != ''" class="avatar" [src]="email.from.avatar"
          alt="{{ email.from.name }}"></div>
      <span class="avatar-name">{{initName}}</span>
    </div>
    <div class="email-item-select" appHoverClass="hover-tick">
      <span class="email-select" (click)="onSelectedEmailItem(email)"></span>
    </div>
  </div>
  <div class="content-col second-col">
    <div class="content-row">
      <span class="from-name">{{ email.from.name }}</span>
      <div class="second-col-right activity-icons">
        <fa-icon [icon]="faTrashAlt" (click)="onDeleteEmail(email); $event.stopPropagation()" ></fa-icon>        
        <fa-icon [icon]="faEnvelope" (click)="toggleReadStatus(email);$event.stopPropagation()"></fa-icon>
        <fa-icon [icon]="faFlag" (click)="onFlagEmail(email);$event.stopPropagation()"></fa-icon>
        <fa-icon [icon]="faThumbtack" (click)="onPinEmail(email);$event.stopPropagation()"></fa-icon>
      </div>
    </div>
    <div class="content-row">
      <span class="email-subject">{{ email.subject }}</span>
      <span
        class="second-col-right showDate">{{ iscurrentDate ? (email.mailingdate | amDateFormat: 'HH:mm') : (email.mailingdate | amDateFormat: 'ddd M/D')}}</span>
    </div>
    <div class="content-row email-body" [innerHtml]="email.body | slice:0:180">

    </div>
  </div>
</div>
