$font:'Roboto', sans-serif ;

* {padding: 0; margin: 0;}
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  font-family: $font;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

img {max-width: 100%;}

.clearfix
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
